[submodule "api"]
	path = api
	url = https://github.com/Baladjinator/RoadHaze-API
[submodule "mobile"]
	path = mobile
	url = https://github.com/Baladjinator/Mobile-App
[submodule "cpu_model_and_data_fit_prototype"]
	path = cpu_model_and_data_fit_prototype
	url = https://github.com/Baladjinator/RoadHaze-Cpu-model-and-data-fit-prototype
[submodule "dataset"]
	path = dataset
	url = https://github.com/Baladjinator/RoadHaze-Dataset
[submodule "cam"]
	path = cam
	url = https://github.com/Baladjinator/RoadHaze-Cam
